USE [master]
GO
/****** Object:  Database [Vacation Manager]    Script Date: 11/29/2022 7:43:17 AM ******/
CREATE DATABASE [Vacation Manager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Vacation Manager', FILENAME = N'D:\MSQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\Vacation Manager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Vacation Manager_log', FILENAME = N'D:\MSQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\Vacation Manager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Vacation Manager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Vacation Manager]
GO
/****** Object:  Table [dbo].[breaks]    Script Date: 11/29/2022 7:43:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[breaks](
	[dateStart] [date] NOT NULL,
	[dateEnd] [date] NOT NULL,
	[dateCreated] [date] NOT NULL,
	[halfDayBreak] [tinyint] NOT NULL,
	[breakAccepted] [tinyint] NOT NULL,
	[dateApplicant] [varchar](50) NOT NULL,
	[breakID] [int] NOT NULL,
 CONSTRAINT [PK_breaks] PRIMARY KEY CLUSTERED 
(
	[breakID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project]    Script Date: 11/29/2022 7:43:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project](
	[projectName] [varchar](50) NOT NULL,
	[projectDescription] [varchar](50) NOT NULL,
	[projectTeams] [varchar](50) NOT NULL,
	[projectID] [int] NOT NULL,
 CONSTRAINT [PK_project] PRIMARY KEY CLUSTERED 
(
	[projectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 11/29/2022 7:43:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[roleID] [int] NOT NULL,
	[memberRole] [varchar](50) NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedule]    Script Date: 11/29/2022 7:43:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedule](
	[projectNumber] [int] NOT NULL,
	[teamNumber] [int] NOT NULL,
	[scheduleID] [int] NOT NULL,
 CONSTRAINT [PK_schedule] PRIMARY KEY CLUSTERED 
(
	[scheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teams]    Script Date: 11/29/2022 7:43:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teams](
	[teamName] [varchar](50) NOT NULL,
	[teamProject] [varchar](50) NOT NULL,
	[teamDevelopers] [varchar](50) NOT NULL,
	[teamLeader] [varchar](50) NOT NULL,
	[teamID] [int] NOT NULL,
 CONSTRAINT [PK_teams] PRIMARY KEY CLUSTERED 
(
	[teamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/29/2022 7:43:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[userName] [varchar](50) NOT NULL,
	[passWord] [varchar](50) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[familyName] [varchar](50) NOT NULL,
	[userRole] [varchar](50) NOT NULL,
	[userTeam] [varchar](50) NOT NULL,
	[userID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[schedule]  WITH CHECK ADD  CONSTRAINT [FK_schedule_project] FOREIGN KEY([projectNumber])
REFERENCES [dbo].[project] ([projectID])
GO
ALTER TABLE [dbo].[schedule] CHECK CONSTRAINT [FK_schedule_project]
GO
ALTER TABLE [dbo].[schedule]  WITH CHECK ADD  CONSTRAINT [FK_schedule_teams] FOREIGN KEY([teamNumber])
REFERENCES [dbo].[teams] ([teamID])
GO
ALTER TABLE [dbo].[schedule] CHECK CONSTRAINT [FK_schedule_teams]
GO
USE [master]
GO
